body {
	margin: auto;
	padding-right: 1em;
	padding-left: 1em;
	max-width: 44em;
	border-left: 1px solid black;
	border-right: 1px solid black;
	color: black;
	font-family: Verdana, sans-serif;
	font-size: 115%;
	line-height: 140%;
	color: #333;
}
pre {
	border: 1px dotted gray;
	background-color: #ececec;
	color: #1111111;
	padding: 0.5em;
}
code {
	font-family: monospace;
	background-color: #ececec;
	font-size: 115%;
}

.sourceCode {
 	overflow: auto;
    background-color: #ececec;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
	text-decoration: none;
	color: #7a5ada;
}
h1, h2, h3, h4, h5 { font-family: verdana;
	font-weight: bold;
	border-bottom: 1px dotted black;
	color: #7a5ada; }
h1 {
	font-size: 160%;
}

h2 {
	font-size: 135%;
}

h3 {
	font-size: 115%;
}

h4 {
	font-size: 90%;
	font-style: italic;
}

h5 {
	font-size: 80%;
	font-style: italic;
}

h1.title {
	font-size: 200%;
	font-weight: bold;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	text-align: left;
	border: none;
}

dt code {
	font-weight: bold;
}
dd p {
	margin-top: 0;
}

#footer {
	padding-top: 1em;
	font-size: 70%;
	color: gray;
	text-align: center;
}
